.article {
    /* height: 550px; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding: 0 1em;
    padding-bottom: 5rem;

}

.title {
    font-size: 27px;
    font-weight: 900;
    font-family: var(--font-fraunces);
}

.paragraph {
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
}